<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,38},{16,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{16,18}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>black_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>blank_big_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,38},{3,3}}</string>
                <key>offset</key>
                <string>{-24.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>blank_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,38},{3,3}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>bt1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>bt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>bt1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>bt2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,36},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>bt2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,36},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>bt3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{76,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,34}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>bt3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{76,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,34}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>bt4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{28,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{28,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>bt4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{28,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{28,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>circle_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>delims_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>edit_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>edit_equal.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,38},{22,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{22,16}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>error_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>node_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>parent_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,32},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>scale_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>white_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>editor_res.pvr.ccz</string>
            <key>size</key>
            <string>{858,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5425d048b254b60553726018112dcbc2$</string>
            <key>textureFileName</key>
            <string>editor_res.pvr.ccz</string>
        </dict>
    </dict>
</plist>
