<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_boom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,386},{30,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,104},{30,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,282},{72,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{170,150}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{170,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{176,154}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{176,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{184,160}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{184,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{200,160}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{200,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{204,160}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{204,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{206,144}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{206,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,144}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{208,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{174,146}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,28},{174,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{176,106}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,65},{176,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{178,106}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{178,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,552},{108,112}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,60},{108,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,780},{126,130}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,54},{126,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1210},{136,128}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,59},{136,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1348},{142,136}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,52},{142,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1492},{146,140}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,48},{146,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1634},{150,140}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,49},{150,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{152,142}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,46},{152,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_boom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{162,148}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{162,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_end_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1880},{20,54}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,111},{20,54}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,356},{30,72}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,93},{30,72}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{50,122}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,42},{50,122}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,666},{50,124}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,40},{50,124}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,718},{60,122}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{60,122}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,970},{56,132}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{56,132}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1152},{56,134}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{56,134}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,908},{60,132}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{60,132}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,388},{60,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{60,134}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1090},{60,130}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{60,130}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1028},{60,130}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{60,130}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{58,122}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{58,122}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,126},{30,90}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,74},{30,90}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{60,98}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{60,98}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,64},{60,92}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{60,92}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,220},{60,86}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{60,86}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,158},{60,86}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{60,86}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{40,108}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,57},{40,108}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,442},{40,108}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,56},{40,108}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1902},{50,116}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{50,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1902},{50,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,43},{50,118}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1902},{50,120}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,44},{50,120}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1828},{50,120}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,44},{50,120}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1776},{50,122}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,42},{50,122}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>fx_firecracker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1952},{22,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,108},{22,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1880},{24,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,108},{24,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1906},{22,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,108},{22,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1828},{24,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,107},{24,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1952},{22,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,108},{22,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1850},{24,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,107},{24,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1776},{24,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,107},{24,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1798},{24,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,107},{24,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,524},{26,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,108},{26,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1902},{24,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,108},{24,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2002},{20,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,107},{20,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1948},{18,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,107},{18,46}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1930},{20,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,108},{20,46}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1900},{18,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,107},{18,46}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1952},{22,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,108},{22,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1746},{24,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,107},{24,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1906},{22,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,107},{22,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1930},{20,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,107},{20,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,334},{26,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,107},{26,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,282},{26,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,108},{26,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1952},{22,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,108},{22,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2002},{20,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,107},{20,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1880},{24,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,108},{24,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fx_firecracker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1952},{22,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,108},{22,48}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_firecracker.pvr.ccz</string>
            <key>size</key>
            <string>{314,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbe92aca9d8110958f2d02b7cc150c7c$</string>
            <key>textureFileName</key>
            <string>fx_firecracker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
