<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_ribbon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{282,288}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,95},{282,288}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,290},{352,360}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,67},{352,360}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,636},{352,372}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,77},{352,372}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,606},{352,372}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,83},{352,372}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,290},{350,376}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,85},{350,376}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,286},{348,378}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,89},{348,378}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,270},{334,380}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,92},{334,380}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{286,370}}</string>
                <key>offset</key>
                <string>{-25,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,108},{286,370}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{288,352}}</string>
                <key>offset</key>
                <string>{-26,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,128},{288,352}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{280,344}}</string>
                <key>offset</key>
                <string>{-22,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,136},{280,344}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{266,342}}</string>
                <key>offset</key>
                <string>{-15,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,138},{266,342}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{264,342}}</string>
                <key>offset</key>
                <string>{-14,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,138},{264,342}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1010},{366,376}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,59},{366,376}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{92,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,286},{52,64}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,644},{370,364}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{370,364}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1010},{372,368}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,65},{372,368}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,642},{366,362}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,75},{366,362}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{364,364}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,76},{364,364}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,990},{364,366}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,76},{364,366}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,990},{366,370}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,75},{366,370}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>fx_ribbon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{352,372}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{352,372}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_ribbon.pvr.ccz</string>
            <key>size</key>
            <string>{1858,1380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4f6c2c3fb123ef267c525a0aeae6194$</string>
            <key>textureFileName</key>
            <string>fx_ribbon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
