<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,549}}</string>
                <key>sourceSize</key>
                <string>{640,549}</string>
            </dict>
            <key>guide_fingers1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{133,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,104}}</string>
                <key>sourceSize</key>
                <string>{133,110}</string>
            </dict>
            <key>guide_fingers2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,644},{127,110}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{127,110}}</string>
                <key>sourceSize</key>
                <string>{133,110}</string>
            </dict>
            <key>guide_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{576,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,102}}</string>
                <key>sourceSize</key>
                <string>{576,102}</string>
            </dict>
            <key>rate_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{448,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,449}}</string>
                <key>sourceSize</key>
                <string>{448,449}</string>
            </dict>
            <key>select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,644},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>select_fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,644},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>success_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,452},{383,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,385}}</string>
                <key>sourceSize</key>
                <string>{383,385}</string>
            </dict>
            <key>success_ribbon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,452},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>success_ribbon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,496},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>success_ribbon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,923},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>success_ribbon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,923},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>success_ribbon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,475},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>success_ribbon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,923},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>success_ribbon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,923},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>success_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,837},{373,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,84}}</string>
                <key>sourceSize</key>
                <string>{373,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_ui.pvr.ccz</string>
            <key>size</key>
            <string>{1004,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb43c1d9e1f1216980ee99e8091943df$</string>
            <key>textureFileName</key>
            <string>game_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
