<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baffle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,265},{16,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,47}}</string>
                <key>sourceSize</key>
                <string>{16,47}</string>
            </dict>
            <key>baffle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,265},{16,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,47}}</string>
                <key>sourceSize</key>
                <string>{16,47}</string>
            </dict>
            <key>cold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,719}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,719}}</string>
                <key>sourceSize</key>
                <string>{261,719}</string>
            </dict>
            <key>dr_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,265},{186,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,93}}</string>
                <key>sourceSize</key>
                <string>{186,93}</string>
            </dict>
            <key>ot_earth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,265},{251,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,121}}</string>
                <key>sourceSize</key>
                <string>{251,121}</string>
            </dict>
            <key>plot_emo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,265},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{56,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rate_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,2},{448,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,449}}</string>
                <key>sourceSize</key>
                <string>{448,449}</string>
            </dict>
            <key>title_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{542,261}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,261}}</string>
                <key>sourceSize</key>
                <string>{542,273}</string>
            </dict>
            <key>wo_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{293,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,154}}</string>
                <key>sourceSize</key>
                <string>{293,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_obj2.pvr.ccz</string>
            <key>size</key>
            <string>{1718,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19a70f1284817adfdf052409d99b9024$</string>
            <key>textureFileName</key>
            <string>game_obj2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
