<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ex_alamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3954,1058},{84,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,122}}</string>
                <key>sourceSize</key>
                <string>{84,122}</string>
            </dict>
            <key>ex_support_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1739},{145,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,306}}</string>
                <key>sourceSize</key>
                <string>{145,306}</string>
            </dict>
            <key>ex_support_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,1560},{296,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,201}}</string>
                <key>sourceSize</key>
                <string>{296,201}</string>
            </dict>
            <key>ex_tube_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1320},{89,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,256}}</string>
                <key>sourceSize</key>
                <string>{89,256}</string>
            </dict>
            <key>ex_tube_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3845,1176},{129,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,245}}</string>
                <key>sourceSize</key>
                <string>{129,245}</string>
            </dict>
            <key>ex_tube_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3630,1755},{156,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,245}}</string>
                <key>sourceSize</key>
                <string>{156,245}</string>
            </dict>
            <key>ex_tube_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4015,1582},{44,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,127}}</string>
                <key>sourceSize</key>
                <string>{44,127}</string>
            </dict>
            <key>ex_tube_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3990,1384},{44,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,127}}</string>
                <key>sourceSize</key>
                <string>{44,127}</string>
            </dict>
            <key>ex_tube_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3969,1613},{44,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,127}}</string>
                <key>sourceSize</key>
                <string>{44,127}</string>
            </dict>
            <key>ex_tube_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2715,1763},{44,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,127}}</string>
                <key>sourceSize</key>
                <string>{44,127}</string>
            </dict>
            <key>food_breakfast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1297},{328,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,137}}</string>
                <key>sourceSize</key>
                <string>{328,137}</string>
            </dict>
            <key>food_breakfast_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{3990,1513},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>food_canned.png</key>
            <dict>
                <key>frame</key>
                <string>{{2101,667},{376,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,312}}</string>
                <key>sourceSize</key>
                <string>{376,312}</string>
            </dict>
            <key>food_coke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,896},{207,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,379}}</string>
                <key>sourceSize</key>
                <string>{207,379}</string>
            </dict>
            <key>food_coke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3108,1084},{207,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,346}}</string>
                <key>sourceSize</key>
                <string>{207,346}</string>
            </dict>
            <key>food_dinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2303,1424},{339,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,158}}</string>
                <key>sourceSize</key>
                <string>{339,158}</string>
            </dict>
            <key>food_dinner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1439},{60,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,118}}</string>
                <key>sourceSize</key>
                <string>{60,118}</string>
            </dict>
            <key>food_lunch.png</key>
            <dict>
                <key>frame</key>
                <string>{{3445,1373},{329,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,162}}</string>
                <key>sourceSize</key>
                <string>{329,162}</string>
            </dict>
            <key>food_noodles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2068,1424},{233,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,309}}</string>
                <key>sourceSize</key>
                <string>{233,309}</string>
            </dict>
            <key>food_noodles_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3339,1537},{233,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,220}}</string>
                <key>sourceSize</key>
                <string>{233,220}</string>
            </dict>
            <key>food_ramen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2761,1486},{226,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,252}}</string>
                <key>sourceSize</key>
                <string>{226,252}</string>
            </dict>
            <key>food_soup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1436},{301,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,264}}</string>
                <key>sourceSize</key>
                <string>{301,264}</string>
            </dict>
            <key>food_teatime.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,363},{384,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,648}}</string>
                <key>sourceSize</key>
                <string>{384,648}</string>
            </dict>
            <key>food_teatime_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,684},{97,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,69}}</string>
                <key>sourceSize</key>
                <string>{97,69}</string>
            </dict>
            <key>fu_cup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3427,1759},{152,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,201}}</string>
                <key>sourceSize</key>
                <string>{152,201}</string>
            </dict>
            <key>fu_cup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2110,1735},{146,187}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{146,187}}</string>
                <key>sourceSize</key>
                <string>{152,201}</string>
            </dict>
            <key>fu_cup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,363},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>fu_curtains.png</key>
            <dict>
                <key>frame</key>
                <string>{{3976,1144},{61,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,238}}</string>
                <key>sourceSize</key>
                <string>{61,238}</string>
            </dict>
            <key>fu_desk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3482,728},{446,470}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{446,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fu_desk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2479,668},{320,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,370}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>fu_desk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2632,282},{384,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,486}}</string>
                <key>sourceSize</key>
                <string>{384,486}</string>
            </dict>
            <key>fu_desk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1501},{388,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,493}}</string>
                <key>sourceSize</key>
                <string>{388,493}</string>
            </dict>
            <key>fu_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2989,1486},{315,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,181}}</string>
                <key>sourceSize</key>
                <string>{315,181}</string>
            </dict>
            <key>fu_fishtank.png</key>
            <dict>
                <key>frame</key>
                <string>{{3574,1537},{216,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,216}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>fu_photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3339,1455},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>fu_refrigerator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{245,787}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,787}}</string>
                <key>sourceSize</key>
                <string>{245,787}</string>
            </dict>
            <key>fu_refrigerator_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2101,265},{245,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,529}}</string>
                <key>sourceSize</key>
                <string>{245,529}</string>
            </dict>
            <key>fu_sink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{359,692}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,692}}</string>
                <key>sourceSize</key>
                <string>{359,692}</string>
            </dict>
            <key>fu_sink_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,956},{349,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,339}}</string>
                <key>sourceSize</key>
                <string>{349,339}</string>
            </dict>
            <key>fu_sink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3482,389},{337,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,482}}</string>
                <key>sourceSize</key>
                <string>{337,482}</string>
            </dict>
            <key>fu_stove.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1127},{372,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,633}}</string>
                <key>sourceSize</key>
                <string>{372,633}</string>
            </dict>
            <key>fu_stove_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,896},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>fu_teapot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2763,1028},{343,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,275}}</string>
                <key>sourceSize</key>
                <string>{343,275}</string>
            </dict>
            <key>fu_toilet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1439},{304,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,387}}</string>
                <key>sourceSize</key>
                <string>{304,387}</string>
            </dict>
            <key>fu_vase_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3456,1176},{195,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,387}}</string>
                <key>sourceSize</key>
                <string>{195,387}</string>
            </dict>
            <key>fu_vase_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3844,1423},{144,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,188}}</string>
                <key>sourceSize</key>
                <string>{144,188}</string>
            </dict>
            <key>fu_window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3108,1293},{160,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,335}}</string>
                <key>sourceSize</key>
                <string>{160,335}</string>
            </dict>
            <key>ot_blackhole.png</key>
            <dict>
                <key>frame</key>
                <string>{{2085,981},{327,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,360}}</string>
                <key>sourceSize</key>
                <string>{327,360}</string>
            </dict>
            <key>ot_earth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,1300},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>ot_earth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1501},{395,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,315}}</string>
                <key>sourceSize</key>
                <string>{395,315}</string>
            </dict>
            <key>ot_ink.png</key>
            <dict>
                <key>frame</key>
                <string>{{4007,1742},{69,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,87}}</string>
                <key>sourceSize</key>
                <string>{69,87}</string>
            </dict>
            <key>ot_ink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4007,1831},{69,73}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,87}</string>
            </dict>
            <key>ot_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,632},{322,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,288}}</string>
                <key>sourceSize</key>
                <string>{322,288}</string>
            </dict>
            <key>ot_milk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2851,668},{358,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,266}}</string>
                <key>sourceSize</key>
                <string>{358,266}</string>
            </dict>
            <key>ot_milk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3181,1901},{85,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,12}}</string>
                <key>sourceSize</key>
                <string>{85,12}</string>
            </dict>
            <key>ot_potion_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3119,739},{361,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,343}}</string>
                <key>sourceSize</key>
                <string>{361,343}</string>
            </dict>
            <key>ot_potion_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2299,1765},{158,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,121}}</string>
                <key>sourceSize</key>
                <string>{158,121}</string>
            </dict>
            <key>ot_potion_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3268,1901},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>ot_signwater.png</key>
            <dict>
                <key>frame</key>
                <string>{{3966,389},{272,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,92}}</string>
                <key>sourceSize</key>
                <string>{272,92}</string>
            </dict>
            <key>ot_spoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,361},{269,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,227}}</string>
                <key>sourceSize</key>
                <string>{269,227}</string>
            </dict>
            <key>ot_stomach_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2447,990},{314,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,308}}</string>
                <key>sourceSize</key>
                <string>{314,308}</string>
            </dict>
            <key>ot_stomach_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3776,1373},{155,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>ot_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{3120,282},{360,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,455}}</string>
                <key>sourceSize</key>
                <string>{360,455}</string>
            </dict>
            <key>sp_bathtub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,617},{277,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,452}}</string>
                <key>sourceSize</key>
                <string>{277,452}</string>
            </dict>
            <key>sp_bathtub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2723,1305},{179,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,328}}</string>
                <key>sourceSize</key>
                <string>{179,328}</string>
            </dict>
            <key>sp_beer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3181,1770},{129,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,244}}</string>
                <key>sourceSize</key>
                <string>{129,244}</string>
            </dict>
            <key>sp_beer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1105},{332,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,396}}</string>
                <key>sourceSize</key>
                <string>{332,396}</string>
            </dict>
            <key>sp_cold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2101,2},{261,719}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{261,719}}</string>
                <key>sourceSize</key>
                <string>{261,749}</string>
            </dict>
            <key>sp_cold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2495,512},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>sp_cold_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1411},{90,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,121}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>sp_cold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1411},{142,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,139}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>sp_cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1571},{342,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,680}}</string>
                <key>sourceSize</key>
                <string>{342,680}</string>
            </dict>
            <key>sp_fishing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2822,2},{278,671}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{278,671}}</string>
                <key>sourceSize</key>
                <string>{296,693}</string>
            </dict>
            <key>sp_fishing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1828},{252,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,51}}</string>
                <key>sourceSize</key>
                <string>{252,51}</string>
            </dict>
            <key>sp_fishing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3053,1305},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>sp_itman_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,361},{469,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,254}}</string>
                <key>sourceSize</key>
                <string>{469,254}</string>
            </dict>
            <key>sp_itman_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3966,663},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>sp_itman_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3403,1455},{63,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>sp_monkey_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,2},{328,698}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,698}}</string>
                <key>sourceSize</key>
                <string>{328,744}</string>
            </dict>
            <key>sp_monkey_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2761,1740},{224,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,140}}</string>
                <key>sourceSize</key>
                <string>{224,140}</string>
            </dict>
            <key>sp_nap.png</key>
            <dict>
                <key>frame</key>
                <string>{{3495,2},{385,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,548}}</string>
                <key>sourceSize</key>
                <string>{385,548}</string>
            </dict>
            <key>sp_pee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,782},{192,649}}</string>
                <key>offset</key>
                <string>{44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{192,649}}</string>
                <key>sourceSize</key>
                <string>{280,649}</string>
            </dict>
            <key>sp_pee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1433},{136,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,173}}</string>
                <key>sourceSize</key>
                <string>{136,173}</string>
            </dict>
            <key>sp_readguy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,778}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,778}}</string>
                <key>sourceSize</key>
                <string>{320,778}</string>
            </dict>
            <key>sp_readguy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1828},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>sp_shower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,749},{376,632}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,632}}</string>
                <key>sourceSize</key>
                <string>{376,636}</string>
            </dict>
            <key>sp_shower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3954,728},{113,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,328}}</string>
                <key>sourceSize</key>
                <string>{113,328}</string>
            </dict>
            <key>sp_sneeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{381,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,680}}</string>
                <key>sourceSize</key>
                <string>{381,680}</string>
            </dict>
            <key>sp_thewoman.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,684},{256,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,634}}</string>
                <key>sourceSize</key>
                <string>{256,634}</string>
            </dict>
            <key>sp_thewoman_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3877,1743},{128,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,169}}</string>
                <key>sourceSize</key>
                <string>{128,169}</string>
            </dict>
            <key>tool_airc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2101,512},{392,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,153}}</string>
                <key>sourceSize</key>
                <string>{392,153}</string>
            </dict>
            <key>tool_airc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2064,1310},{389,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,112}}</string>
                <key>sourceSize</key>
                <string>{389,112}</string>
            </dict>
            <key>tool_fan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3172,1455},{165,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,313}}</string>
                <key>sourceSize</key>
                <string>{165,313}</string>
            </dict>
            <key>tool_fan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,1763},{250,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>tool_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3792,1613},{128,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,175}}</string>
                <key>sourceSize</key>
                <string>{128,175}</string>
            </dict>
            <key>tool_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2987,1803},{109,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,192}}</string>
                <key>sourceSize</key>
                <string>{109,192}</string>
            </dict>
            <key>wo_formula.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,332},{487,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,27}}</string>
                <key>sourceSize</key>
                <string>{487,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_obj.pvr.ccz</string>
            <key>size</key>
            <string>{4078,1915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fe1ee035d09a22ecbbc24296a74ba4d$</string>
            <key>textureFileName</key>
            <string>game_obj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
