<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,277},{64,59}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{64,59}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>loading_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,277},{66,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>loading_firecracker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,245}}</string>
                <key>sourceSize</key>
                <string>{363,245}</string>
            </dict>
            <key>loading_fuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,277},{24,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,86}}</string>
                <key>sourceSize</key>
                <string>{24,86}</string>
            </dict>
            <key>loading_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,277},{282,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,87}}</string>
                <key>sourceSize</key>
                <string>{282,87}</string>
            </dict>
            <key>start_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{542,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,273}}</string>
                <key>sourceSize</key>
                <string>{542,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load_login_ui.pvr.ccz</string>
            <key>size</key>
            <string>{793,367}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9819264924233d86ee004b9f211652f$</string>
            <key>textureFileName</key>
            <string>load_login_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
