<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_ads_load.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,349},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>g_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,281},{214,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,66}}</string>
                <key>sourceSize</key>
                <string>{214,66}</string>
            </dict>
            <key>g_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,213},{214,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,66}}</string>
                <key>sourceSize</key>
                <string>{214,66}</string>
            </dict>
            <key>g_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,145},{214,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,66}}</string>
                <key>sourceSize</key>
                <string>{214,66}</string>
            </dict>
            <key>g_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,132},{77,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{77,21}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>g_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,208},{41,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{41,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>g_btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,155},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{41,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>g_btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,141}}</string>
                <key>sourceSize</key>
                <string>{395,141}</string>
            </dict>
            <key>g_btn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,155},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>g_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,397},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>g_btn_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,451},{54,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,46}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>g_btn_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,261},{48,40}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>g_btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,402},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{55,55}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>g_btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,451},{58,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>g_btn_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,342},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>g_btn_vibra_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,339},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>g_btn_vibra_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,349},{61,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>g_guide_arr.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,219},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>g_guide_fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{319,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,152}}</string>
                <key>sourceSize</key>
                <string>{319,152}</string>
            </dict>
            <key>g_ic_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,311},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>g_ic_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,269},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>g_ic_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,407},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>g_ic_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>g_ic_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,459},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,34}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>g_ic_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,459},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>g_ic_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,74},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public_ui.pvr.ccz</string>
            <key>size</key>
            <string>{489,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a61980af578fc93a7176ba1e106af676$</string>
            <key>textureFileName</key>
            <string>public_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
